@charset "UTF-8";


/*Config de estilos do modo yt*/


div#principal{
    text-align: center;

}

section.grid_yt{
    margin: auto;
    max-width: 60em;
    display: grid;
    grid-template-columns: 1fr 200px ;
}

div#sol{
    width: 30%;
}

img{
    max-width: 200px;
}